body {
    background-color: rgba(255, 255, 255, 0.575);


}

.navbar {
    background-color: black;
}


/* CATS */

.result {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 1%;
    height: 50vh;
  

}

.result-cat img {
    object-fit: contain;
    /* height: 100%;
    width: 100%; */

}


.filler-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    margin: 0;

}
#filler-inner {
    margin: 10%;

}


/* BUTTON TO TOP STYLE */
#goTopBtn { 
    display: none; 
    position: fixed; 
    bottom: 40px; 
    right: 5%; 
    z-index: 3; /* Make sure it does not overlap */
    border: none; 
    outline: none;
/* For background color I'll use bootstrap warning */
    color: black; 
    cursor: pointer; 
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px; 
    border-radius: 6%; 
    font-size: 18px; 
  }
  